<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Dating App</a>
        <ul class="navbar-nav justify-content-lg-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Matching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Message</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="text" placeholder="username">
          <input class="form-control me-2" type="password" placeholder="password">
          <button class="btn btn-primary" type="submit">Login   </button>
        </form>
      </div>
  </nav>
  